.button button {
-webkit-appearance: none;
box-shadow: none !important;
outline: none;
background: none repeat scroll 0 0 transparent;
border: medium none;
border-spacing: 0;
color: #26589F;
font-family: 'PT Sans Narrow',sans-serif;
font-size: 16px;
font-weight: normal;
line-height: 1.42rem;
list-style: none outside none;
margin: 0;
padding: 0;
text-align: left;
text-decoration: none;
text-indent: 0;
background: url('button.jpg') no-repeat;
background-position: 0 0;
width: 221px;
height: 225px;
margin: 70px 0;
cursor: pointer;
}
